
<style >
a {
	color: #ffffff;
}

.contact {
	width: 40%;
	height: 20%;
	background-color: #246dc7;
	color: #ffffff;
	text-align: center;
	opacity: 0.8;
	margin: auto;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 6px 6px rgba(0, 0, 0, 0.15);
}

</style >
