{% extends "app/layout.html" %}

{% block content %}

<style>
    #deiwei_birthday {
	background: #73b5f5;
}
    .kexin_birthday {
        color:#000000;

    }
    .download-head {
	    text-align: center;
        color:#ffffff;
	    padding: 4em 0;
        font-style:italic;
    }
    .wishes {
        width: 1000px;
        height: 400px;
        color: rgba(255,255,255,0.8);
        font-size: 40px;
        text-align: start center;
        font-family: "Times New Roman";
        background-image: url("../../static/app/images/bestwishes.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left top;
    }
</style>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>{{ content }}</p>

<div id="deiwei_birthday" class="Birthday_show">
	<div class="container">
		<div class="download-head">
			<h3>To dewei:happy birthday!</h3>
            <br />
			<h4><span>2018-11-21</span></h4>
		</div>
	</div>
</div>

<br />
<div class="wishes">
    <p>Bless you back to China safely!!</p>
</div>

<span style ="font-style:unset" id ="dateField">hi</span>



{% endblock %}

{% load staticfiles %}
{% block scripts %}
            <script src="{% static 'app/scripts/BirthdayTimeLeft.js' %}"></script>

{% endblock %}