{% extends "app/layout.html" %} 
 {% block header %} {% load staticfiles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/content/birthday_page.css' %}"
/>

{% endblock %}
{% block content %}
<div class="title">
  <h2>
    <strong>{{ title }}.</strong>
  </h2>
<h4>
<a href="{{github}}"
  >Click here to see this project on <img src="{% static 'app/images/github_logo.png' %}" alt="GitHub Logo"> GitHub</a>
    </h4>
<br />

  <h3>{{ message }}</h3>

  <p>This project is using multiple servers and their intergration based on Microsoft Azure Cloud Service, including
    <a href="https://azure.microsoft.com/en-gb/services/app-service/web/"> Web App</a>, 
   <a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server"> SQL Database</a>,
    <a href="https://azure.microsoft.com/en-us/services/bot-service/"> Azure Bot service (Direct Line API) </a> and 
    <a href="https://www.qnamaker.ai/">QnAMaker</a></p>
<p>All servers are hosted on Azure Web App service, and this app is using Django Framework written in Python 3</p>
<p>The first time when you log in, the Django server create an user ID for your stored in a database. Every message you have sent, the server will first store the message into database MESSAGES, 
    and then sends it to Azure bot service (An AI bot program written in C#). Then the AI bot asks QnAMaker (A knowledge base containing questions and answers written in structured files). 
    The QnAMaker matches user's question with the most similar question in the knowledge base and send back the answer to the AI bot. The question and answer will be temporarly stored in the AI bot. 
    The Django server will then send HTTP request to the AI bot asking if there is any update for the conversation. If there is, Django server will store the answer into the database MESSAGES,
    so the client is able to get the newest messages by sending HTTP requests to Django server and display them to the user.</p>

    <p>When you login again, the client (your browser) will first send a requst to the Django server asking for history data, so you are able to see what you have sent before.</p>
</div>
{% endblock %}