{% extends "app/layout.html" %}

{% block content %}
<h1>Conversational Robert</h1>
<form action="{%url 'app:ai' %}" method="post">
    {% csrf_token %}

    <label for="your_name">Ask me a question: </label>
    <br/>
    <input id="your_question" type="text" name="question" placeholder="Enter your question here">
        <br/>
        <br/>

    <input type="submit" value="OK">
</form>

{{previous_question}}
<br/>
{{previous_answer}}
        <br/>
        <br/>
<iframe src='https://webchat.botframework.com/embed/thewaybot?s=aq9Rwy7Yd34.cwA.5tk.EFWM7JrOSTrLsNFU5Ivs2c3-gFz_XvXibfr0ihi2PZU'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
{% endblock %}
