{% extends "app/layout.html" %}

{% block content %}

<style>
    
    .contact {
        width: 500px;
        height: 250px;
        background-color: #246dc7;
        color: #ffffff;
        text-align: center;
        opacity: 0.8;
        margin:auto;
    }
</style>

<h1>&nbsp;</h1>
<section class="contact">
    <br />
    <article>
        <h2><strong>{{ title }}.</strong></h2>
        <h3>{{ message }}</h3>

        <address>

        </address>

        <address>
            <strong>IT Support:</strong>   <a href="mailto:deweiliu@hotmail.com">E-mail</a><br />
        </address>
    </article>

</section>





{% endblock %}
