{% extends "app/layout.html" %} {% block header %} {% load staticfiles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/content/index_page.css' %}"
/>
{% endblock %} {% block content %}
<div class="jumbotron">
  <h1><strong>Best Friends' App</strong></h1>
  <p class="lead fadeInUp animated"><strong>
    Best Friends' App is an AI robot.
  </strong></p>
  <p>
    <a href="{%url 'app:login' %}" class="btn btn-primary btn-large"
      >Try it &raquo;</a
    >
  </p>
</div>

<div class="row">
      <div class="border">
        <h2><strong>Say Hi to the robot</strong></h2>
        <p>Hi! Say Hi to the robot</p>
        <p>
          <a class="btn btn-default" href="{%url 'app:login' %}"
            >Try it &raquo;</a>
        </p>
       </div>
      <div class="border">
        <h2><strong>How it works</strong></h2>
        <p>The app works with multiple servers.</p>
        <p>
            <a class="btn btn-default" href="{%url 'app:about' %}"
            >See how it works &raquo;</a>
        </p>
       </div>


            <div class="border">

    <h2><strong>Need helps?</strong></h2>
    <p>
      Please contact us directly
    </p>
              <p>
            <a class="btn btn-default" href="{%url 'app:about' %}"
            >Contact &raquo;</a>
        </p>
  </div>  </div>

{% endblock %} { {% block scripts %}

{% endblock %}
