{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Best Friends' App</h1>
    <p class="lead">Best Friends' App is an AI model which will communicate with users by sounds, texts and videos.</p>
    <p><a href="http://www.seconteen.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Getting started.
        </p>
        <p><a class="btn btn-default" href="http://www.seconteen.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>The app works with advanced AI model.</p>
        <p><a class="btn btn-default" href="http://www.seconteen.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need helps?</h2>
        <p>No way! The app is still under construction. Please wait, and it will be available in {{ time_to_finish }}</p>
        <p><a class="btn btn-default" href="http://www.seconteen.com/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
