{% extends "app/layout.html" %}

{% block header %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
<style>
    .col-md-4 {
        background-color:#fff;
        opacity:0.3;
        filter:alpha(opacity=30);
        font-family: 'ubuntu';
        font-weight:500;
        border-width:medium;
        border-color:#81a7f6;
        border-radius: 20px;
        border-style:dashed;
        padding-left:20px;
        padding-right:20px;
    }

    @font-face {
      font-family: 'ubuntu';
      font-style: italic;
      font-weight: 300;
      src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
    }
    .jumbotron {
        -webkit-box-shadow:0 0 5px #eedcfa;
        background-color:#fff;
        opacity:0.5;
    }
    .jumbotron h1 {
        color: #fff;
        font-size: 73px;
        line-height:normal;
        text-transform: uppercase;
        font-weight:200;
        font-family: 'Josefin Sans',sans-serif;
        background: linear-gradient(to right, #697dff 10%, #fff 50%, #5bdaff 60%);
        background-size: auto auto;
        background-size: 200% auto;
        background-clip: text;
        background-clip: border-box;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 5s linear infinite;
        display: inline-block;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
</style>

<div class="jumbotron">
    <h1><strong>Best Friends' App</strong></h1>
    <p class="lead fadeInUp animated">Best Friends' App is an AI model which will communicate with users by sounds, texts and videos.</p>
    <p><a href="http://www.seconteen.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4 fadeInLeft animated">
        <h2>Say Hi to the robot</h2>
        <p>
            Hi! Check out our birthdays!
        </p>
        <p><a class="btn btn-default" href="{%url 'app:birthday' %}">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4 fadeInDown animated">
        <h2>How it works</h2>
        <p>The app works with advanced AI model.</p>
        <p><a class="btn btn-default" href="{%url 'app:login' %}">Get started &raquo;</a></p>
    </div>
    
    <div class="col-md-4 fadeInRight animated">

        <h2><strong>Need helps?</strong></h2>
        <p>The app is still under construction. Please wait, and it will be fully available in <span id="time_to_finish"></span></p>
        <p>Or you can try our <strong>ALPHA</strong> version</p>
        <p><a class="btn btn-default" href="{%url 'app:login' %}">Alpha Version &raquo;</a></p>
    </div>
</div>


{% endblock %}
    

{
{% block scripts %}
<script src="{% static 'app/scripts/common_functions.js' %}"></script>

{% endblock %}