
{% extends "app/layout.html" %}
{% block content %}

<style type="text/css">
    .login_center {
        width: 400px;
        height: 300px;
        border: 3px solid #0094ff;
        margin: 0px auto;
        border-radius: 20px;
        text-align: center;
        background: #ffffff;
        opacity: 0.7;
    }
    .form-control {
        margin:0px auto;
    }
    .btn_input {
        width:80px;
		height:50px;
        margin:0px auto;
        border-radius:10px ;
        border:1px solid #ffffff;
        color:white;
        background:#66b0f1;
    }
</style>

<div class="login_center">
    <form action="{%url 'app:login' %}" method="post">
	    {% csrf_token %}
        <br />
	    <label for="first_name">Enter your first name below </label>
	    <br />
        <br />
	    <input id="first_name" type="text" class="form-control" name="first_name" margin=auto placeholder="first name">
        <br />
	    <label for="surname">Enter your surname below </label>
	    <br />
        <br />
	    <input id="surname" type="text" class="form-control" name="surname" margin=auto placeholder="surname">
	    <br />
	    <br />
 	    <input type="submit" class="btn_input" value="Enter" id="sub_username">
    </form>
</div>

<div id="contact" class="Contact">
		<div class="contact-map">
			<iframe src="http://developer.baidu.com/map/jsdemo/demo/a1_1.htm" frameborder="0" style="border:0"></iframe>
			<div class="contact-form">
				<div class="contact-head">
					<h4>Contact</h4>
					</div>
				<form> 
					    <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
						<input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
					<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
					<textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					<div class="clearfix"> </div>
					<div class="sub-button">
						<input name="submit" type="submit" value="Send ">
					</div>
				</form>
			</div>
		</div>
</div>

{% endblock %}

{% load static %}
{% block scripts %}
            <script src="{% static 'app\scripts\login_page.js' %}"></script>
{% endblock %}