# To set up environment for this project, you need to install the following packages
# With Python 3.6.6 (64-bit), under the folder where Python was installed, execute the command:
# <path_to_python_interpreter>\python.exe -m pip install --upgrade -r <path_to_this_file>\requirements.txt
#
Django==2.1.2
pip==18.1
pytz==2018.5
setuptools==40.4.3
