{% extends "app/layout.html" %} {% block header %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/ai_page.css' %}" />

{% endblock %} {% block content %}

<div class="title">
  <h1>AI Robert</h1>
  <h2>Welcome {{ firstname }}</h2>
</div>

<div class="conversation">
  <div class="status-bar">
    <div class="time" id="show_now_time">time</div>
    <div class="entypo-clock"></div>
  </div>
  <div class="chatting_display" id="chatting_dialog">
    <div class="heading" id="head"></div>
    <div class="user"></div>
    <div class="robot"></div>
  </div>
  <div class="talk_input">
    <input type="text" class="sending_words" id="input_words" name="Twords" placeholder="Just say Hello" />
    <input type="button" value="send" class="talk_submit" id="talksubmit" />
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{% static 'app/scripts/ai_dialog.js' %}"></script>
<script src="{% static 'app/scripts/show_now_time.js' %}"></script>
<script>
  var firstname = "{{firstname}}";
  var surname = "{{surname}}";
  var user_id = "{{user_id}}";
</script>

{% endblock %}