{% extends "app/layout.html" %} 
{% block header %} 
{% load staticfiles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'app/content/contact_page.css' %}"
/>
{% endblock %} {% block content %}

<h1>&nbsp;</h1>
<section class="contact">
  <br />
  <article>
    <h2>
      <strong>{{ title }}.</strong>
    </h2>
    <h3>{{ message }}</h3>

    <address></address>

    <address>
      <strong>IT Support:</strong>
      <a href="mailto:deweiliu@hotmail.com">E-mail</a><br />
    </address>
  </article>
</section>

{% endblock %}
