

body {
	background-size: contain;
}

.title {
	color: #ffffff;
}

#deiwei_birthday {
	background: #73b5f5;
}

.kexin_birthday {
	width: 700px;
	height: 30px;
	color: #ffffff;
	margin: auto;
	word-spacing: 3px;
	font-family: 'ubuntu';
	font-size: 20px;
}

	.kexin_birthday span {
		display: inline-block;
		background: #6fa8fa;
		border-radius: 10px;
		color: #fff;
		padding: 10px 20px;
	}

.download-head {
	text-align: center;
	color: #ffffff;
	padding: 4em 0;
	font-style: italic;
}

.wishes {
	width: 80%;
	height: 250px;
	color: rgba(255,255,255,0.8);
	font-size: 40px;
	margin: auto;
	text-align: start center;
	font-family: "Times New Roman";
	background-image: url("/static/app/images/bestwishes.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: left top;
}

.comment {
    width: 75%;
    height: 600px;
    border: 3px solid #66b0f1;
    margin: auto;
    border-radius: 30px;
    text-align: left;
    background: #ffffff;
    overflow: auto;
    opacity: 0.8;
}

.comment_show {
	margin: 10px;
	text-align: left;
}

	.comment_show span {
		display: inline-block;
		background: #73b5f5;
		border-radius: 10px;
		color: #fff;
		padding: 10px 20px;
	}

.login_center {
	width: 400px;
	height: 500px;
	border: 3px solid #0094ff;
	margin: 0px auto;
	border-radius: 20px;
	text-align: center;
	background: #ffffff;
	opacity: 0.8;
}

.form-control {
	margin: 0px auto;
}

.btn_input {
	width: 80px;
	height: 50px;
	margin: 0px auto;
	border-radius: 10px;
	border: 1px solid #ffffff;
	color: white;
	background: #66b0f1;
}


