

.contact-form {
	background-color: #66b0f1;
    text-align:center;
}
.contact-head {
    margin:auto;
}

div.bubble {
    float: right;
    text-align: center;
    font-size:larger;
    font-weight:500;
}

    div.bubble span {
        position: relative;
        margin-left: 0.8em;
        margin-top: -50%;
        background: #fff;
        opacity: 1;
        color: #3498db;
        padding: 0.6em;
        -moz-border-radius: 0.6em;
        -webkit-border-radius: 0.6em;
        border-radius: 0.6em;
        display: inline-block;
        z-index: 999;
    }

        div.bubble span:before {
            position: absolute;
            top: 100%;
            width: 0;
            height: 0;
            z-index: 1;
            content: "";
            border: 0.3em solid;
            border-color: #fff transparent transparent #fff;
        }
